
/* Main styling */

* {
  text-align: center;
  }

body {
  padding-top: 80px;
  background-image: url("../images/leaves-pattern.png");
  font-family: 'Raleway', sans-serif;
  color: black;
  letter-spacing: 2px;
}

h1 {
  font-family: 'Sigmar One', cursive;
  font-size: 60px;
  color: orange;
}

p {
  padding-bottom: 24px;
}

.splashBg {
  background-color: #ffffff;
  background-repeat: no-repeat;
  padding: 80px;
  width: 50%;
  margin: 0 auto;
  border-radius: 16px;
  box-shadow: 0 10px 20px 0 rgba(22, 25, 32, 0.19), 0 6px 7px 0 rgba(22, 25, 32, 0.26);
}